.container{
    display: flex;
    height: 40px;

    .nav-container{
        display: flex;
        flex-grow: 1;
        align-content: flex-start;
    }

    .search-container{
        display: flex;
        flex-grow: 4;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;

        .btn-floating-primary{
            width: 35px;
            height: 35px;
            padding: 5px;
            border-radius: 50%;
            background-color: #bc72d4;
            box-shadow: 0 10px 10px -10px rgba(188, 114, 212, 1)
        }

        .btn-floating-primary:hover {
            box-shadow: 0 10px 25px rgba(188, 114, 212, 1);
            -webkit-transform: translatey(2px);
                    transform: translatey(2px);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
          }
    }
}