body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(./assets/fonts/Montserrat-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./assets/fonts/Montserrat-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url(./assets/fonts/Montserrat-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(./assets/fonts/Montserrat-Bold.ttf) format('ttf');
}

h1{
  font-family: 'Montserrat-Regular';
  color: white;
  font-size: 20px;
}


span{
  font-family: 'Montserrat-Light';
  color: #aeadb1;
  font-size: 12px;
}


.divider{
  background-color: rgb(23, 24, 30);
  box-shadow: 0 10 10 -10 rgba(23, 25, 30, 1);
  width: 100%;
  border: 1.5px;
  border-color: #242631;
  margin-top: 30px;
  height: 2px;
}